#student-mark-form {
  width: 600px;
  margin-top: 50px;
  margin-left: 380px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#student-mark-form-label {
  margin-left: 170px;
  text-align: center;
  font-size: x-large;
}
.student-mark-form {
  align-items: center;
}

#student-add-button {
  margin-left: 92px;
  background-color: #0096ff;
  color: #f5f5f5;
  padding: 7px;
  font-weight: bold;
}
#student-view-button {
  background-color: #0c0f11;
  color: #f5f5f5;
  padding: 7px;
  font-weight: bold;
}

#student-mark-table {
  width: 1200px;
  margin-top: 10px;
  margin-left: 90px;
  border-radius: 10px;
  padding: 1px;
}

#student-mark-search {
  margin-top: 6px;
  margin-left: 1040px;
}
#single-student-form {
  width: 340px;
  margin-top: 40px;
  margin-left: 550px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#single-student-form-label {
  margin-left: 70px;
  text-align: center;
  font-size: x-large;
}

#text {
  font-size: 12pt;
  font-family: "calibri";
}
#button {
  margin-top: 40px;
  margin-left: 130px;
}
#mark-report-button {
  margin-left: 90px;
}
#title-list {
  margin-left: 500px;
}
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.search-teacher {
  margin-top: 100px;
  margin-left: 350px;
}
.teacher-detail {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.teacher-detail-list {
  display: flex;
  gap: 72px;
  align-items: center;
}
.box-shadow {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.351);
}
.box-size {
  border-radius: 1.1rem;
  margin: 120px;
  width: 400px;
  height: 400px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teacher-box-view-text {
  padding: 48px;
  align-items: center;
}
.teacher-heading {
  display: inline-block;
  padding-top: 12px;
  padding-left: 44px;
  align-items: center;
  font-weight: 500;
}
.back-button {
  margin-top: 36px;
}

p:last-child {
  margin-top: 0;
}
.form-teacher {
  margin-bottom: 350px;
}
.form-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
}
#teacher-form {
  width: 300px;
  margin-top: 100px;
  margin-left: 350px;

  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#teacher-form-label {
  margin-left: 70px;
  text-align: center;
  font-size: x-large;
}
.teacher-form {
  align-items: center;
}

#teacher-button {
  margin-right: 20px;
}

#teacher-table {
  width: 900px;
  margin-top: 100px;
  margin-left: 350px;
  border-radius: 10px;
  padding: 1px;
}
