#student-form {
  width: 300px;
  margin-top: 100px;
  margin-left: 810px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#student-form-label {
  margin-left: 70px;
  text-align: center;
  font-size: x-large;
}
.student-form {
  align-items: center;
}

#student-button {
  margin-right: 20px;
}

#student-table {
  width: 900px;
  margin-top: 50px;
  margin-left: 350px;
  border-radius: 10px;
  padding: 1px;
}
#student-search {
  margin-top: 40px;
  margin-left: 1040px;
}
#single-student-form {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  width: 340px;
  margin-top: 100px;
  margin-left: 800px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#single-student-form-label {
  margin-left: 70px;
  text-align: center;
  font-size: x-large;
}

#text {
  font-size: 12pt;
  font-family: "calibri";
}
#button {
  margin-top: 40px;
  margin-left: 130px;
}
