#timetable-form {
  width: 300px;
  margin-top: 100px;
  margin-left: 550px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
#timetable-form-label {
  margin-left: 70px;
  text-align: center;
  font-size: x-large;
}
.timetable-form {
  align-items: center;
}

#timetable-button {
  margin-right: 20px;
}

#timetable-table {
  width: 900px;
  margin-top: 50px;
  margin-left: 350px;
  border-radius: 10px;
  padding: 1px;
}
#timetable-search {
  margin-top: 40px;
  margin-left: 1040px;
}
